table, th, td{
    border-bottom: 2px solid;
    border-color: rgb(241, 234, 234);
    border-collapse: collapse;
    padding: 10px 100px;
    font-size: 25px;
}

th{
    background-color: rgb(59, 173, 218);
    color: aliceblue;
    
}

td{
    background-color: rgb(241, 212, 212);
    padding-left: 0%;
}

table{
    margin: auto;
    
}

caption {
    background-color: orange;
    color: aliceblue;
    width: 50%;
    border-radius: 15px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    padding: 13px;
    
    
}

div{
    width: 70%;
    margin: 40px auto;
}